@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
body{
  font-family:Droid Sans;
  background-color:#2e5266;
  color:white;
}
header{
  text-align:center;
  margin:auto;
  padding:auto;
}
form{
  background-color: #70a9a1;
  margin: 50px auto;
  max-width:500px;
  padding:30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  display:center;
}
.form {
  text-align:left;
  margin-bottom:25px;
}
.form label{
  display:block;
  margin-bottom:10px;
}
.form input, 
.form select, 
.form textarea{
  border: 1px solid white;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
  }
.role{
  margin-top:15px;
  margin-bottom:15px;
}
.form input[type="radio"],
.form input[type="checkbox"]{
  display: inline-block;
  width: auto;
}
button{
  background-color: #e7e7e7;
  border: 1px solid #777;
  border-radius: 1px;
  display:block;
  width:30%;
  margin-bottom: 25px;
  font-size: 15px;
  font-family:inherit;
  
}